[submodule "tools/opensource/scrcpy"]
	path = tools/opensource/scrcpy
	url = git@github.com:Genymobile/scrcpy.git
[submodule "tools/opensource/allure2"]
	path = tools/opensource/allure2
	url = git@github.com:allure-framework/allure2.git
[submodule "tools/opensource/leakcanary"]
	path = tools/opensource/leakcanary
	url = git@github.com:square/leakcanary.git
[submodule "tools/opensource/docker-android"]
	path = tools/opensource/docker-android
	url = git@github.com:budtmo/docker-android.git
[submodule "tools/opensource/appium"]
	path = tools/opensource/appium
	url = git@github.com:appium/appium.git
[submodule "tools/opensource/midscene"]
	path = tools/opensource/midscene
	url = git@github.com:web-infra-dev/midscene.git
[submodule "tools/opensource/mem0"]
	path = tools/opensource/mem0
	url = git@github.com:mem0ai/mem0.git
[submodule "tools/opensource/moondream"]
	path = tools/opensource/moondream
	url = git@github.com:vikhyat/moondream.git
[submodule "tools/opensource/ui-tars"]
	path = tools/opensource/ui-tars
	url = git@github.com:bytedance/UI-TARS.git
[submodule "tools/opensource/perfetto"]
	path = tools/opensource/perfetto
	url = git@github.com:google/perfetto.git
[submodule "tools/opensource/chroma"]
	path = tools/opensource/chroma
	url = git@github.com:chroma-core/chroma.git
[submodule "tools/opensource/shortest"]
	path = tools/opensource/shortest
	url = git@github.com:antiwork/shortest.git
[submodule "tools/opensource/marker"]
	path = tools/opensource/marker
	url = git@github.com:VikParuchuri/marker.git
[submodule "tools/opensource/kiwi-tcms"]
	path = tools/opensource/kiwi-tcms
	url = git@github.com:kiwitcms/Kiwi.git
[submodule "tools/opensource/testdriverai"]
	path = tools/opensource/testdriverai
	url = git@github.com:testdriverai/testdriverai.git
[submodule "tools/opensource/stagehand"]
	path = tools/opensource/stagehand
	url = git@github.com:browserbase/stagehand.git
[submodule "tools/opensource/unstructured"]
	path = tools/opensource/unstructured
	url = git@github.com:Unstructured-IO/unstructured.git
[submodule "tools/opensource/redroid"]
	path = tools/opensource/redroid
	url = git@github.com:remote-android/redroid-doc.git
[submodule "tools/opensource/signoz"]
	path = tools/opensource/signoz
	url = git@github.com:SigNoz/signoz.git
[submodule "tools/opensource/docling"]
	path = tools/opensource/docling
	url = git@github.com:DS4SD/docling.git
[submodule "tools/opensource/llama-index"]
	path = tools/opensource/llama-index
	url = git@github.com:run-llama/llama_index.git
[submodule "tools/opensource/appcrawler"]
	path = tools/opensource/appcrawler
	url = git@github.com:nicetester/AppCrawler.git
[submodule "tools/test-apps/rest-demo"]
	path = tools/test-apps/rest-demo
	url = git@github.com:nicehash/rest-clients-demo.git
[submodule "tools/opensource/browser-use"]
	path = tools/opensource/browser-use
	url = git@github.com:browser-use/browser-use.git
[submodule "tools/opensource/skyvern"]
	path = tools/opensource/skyvern
	url = git@github.com:Skyvern-AI/skyvern.git
[submodule "tools/opensource/anthropic-quickstarts"]
	path = tools/opensource/anthropic-quickstarts
	url = git@github.com:anthropics/anthropic-quickstarts.git
[submodule "tools/opensource/ui-tars-desktop"]
	path = tools/opensource/ui-tars-desktop
	url = git@github.com:bytedance/UI-TARS-desktop.git
